body {background-color: black !important;}
.arena{
  background-image: url("../img/arena.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.resplmpt{
	width:7%;
	height:auto;
	margin-bottom:0px;
}
.respln{
	width:12%;
	height:auto;
	margin-bottom:0px;
}
.resplpbn{
	width:11%;
	height:auto;
	margin-bottom:0px;
	-ms-transform: rotate(-20deg); 
	transform: rotate(-20deg);
	margin-top:2%;
}
.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #000;
  text-transform: uppercase;
  width: 10%;
  height: 40px;
  border-radius: 25px;
  background: #dc9421;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
	margin: 0 auto;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login100-walet-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 40%;
  height: 40px;
  border-radius: 25px;
  background: #dc9421;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
	margin: 0 auto;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-top:10%;
}

input {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #dc9421;
  font-size: 18px;
  color: #dc9421;
  background-color:transparent;  
  margin-bottom:1%;  
}
.btnhldr{
	margin-top:1%;
}
.btn-link {
    font-weight: 400;
    color: #dc9421;
    background-color: transparent;
}

.field-icon {

  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  color:#dc9421;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}
@media only screen and (max-width: 1024px) and (min-width: 300px)  {
	.resplmpt{
	width:30%;
	height:auto;
	margin-bottom:0px;
	margin-top:5%;
}
.respln{
	width:40%;
	height:auto;
	margin-bottom:10px;
}
.resplpbn{
	width:35%;
	height:auto;
	margin-bottom:0px;
	-ms-transform: rotate(-20deg); 
	transform: rotate(-20deg);
	margin-top:2%;
}
.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #000;
  text-transform: uppercase;
  width: 30%;
  height: 30px;
  border-radius: 25px;
  background: #dc9421;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
	margin: 0 auto;
	margin-top:10%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}	
	
}

.bg-dark{
	background-color:black !important;
}
.brand{
	width:50%;
	height:auto;
	padding:0px;
}   
.navbar-toggler { 
	border-color: #dc9421 !important; 
}  
.navbar-toggler-icon { 
 background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 148, 33, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; 
}
.result-card-con img{
	width:40%;
}
.selectioncardbg{
	background-color:black;
	
}
.resultbox H3{
	color:#ffffff;
	font-size:25px;
	font-weight:bold;
	margin-top:20%;
	
}
.selectioncard img{
	width:50%;
	height:auto;
	margin-top:10%;
	margin-bottom:10%
}
.formRight select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px #E8E8E8 inset;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
	font-size:18px;
	2px solid #dc9421;
 }

 